@charset "UTF-8";
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

form {
  font-size: 1.6rem;
}

.inner {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  padding-top: 1rem;
  margin-right: 5rem;
}

.list-small {
  display: flex;
  justify-content: space-between;
}

.list-group-item {
  font-size: 120%;
}

.form-group {
  margin-bottom: 8px;
}

.form-control {
  font-size: 1.6rem;
}

.RndStyle {
  background-color: lightcyan;
  padding: 20px;
  z-index: 10;
  border-radius: 10px;
  border: 2px solid lightskyblue;
}
@media screen and (max-width: 959px) {
  .RndStyle {
    display: none;
  }
}

.on-click {
  cursor: pointer;
}

.on-click:hover {
  color: red;
}

.delete-message {
  color: red;
  font-weight: bold;
  margin-left: 20px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn,
button.btn {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

button.btn-tag {
  position: relative;
  padding: 1.0rem 1.0rem 1.0rem 52px;
  color: #000;
}
button.btn-tag:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100%;
  content: "";
  border-radius: 0.5rem 0 0 0.5rem;
}

button.btn-tag--bookmark {
  background-color: #ddd;
}
@media screen and (max-width: 959px) {
  button.btn-tag--bookmark {
    display: none;
  }
}
button.btn-tag--bookmark::before {
  background-color: #2196f3;
}
button.btn-tag--bookmark:hover {
  color: #212529;
  background-color: #f2f2f2;
}
button.btn-tag--bookmark:hover i {
  opacity: 1;
  color: #fff100;
}

button.btn-tag--bookmark i,
button.deletebtn-tag--bookmark i,
button.spbtn-tag--bookmark i,
button.signup-btn-tag--bookmark i {
  font-size: 150%;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  padding: 1.0rem 0;
  text-align: center;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
}

/* 削除ボタン用 */
button.deletebtn-tag--bookmark {
  background-color: #ddd;
}
button.deletebtn-tag--bookmark::before {
  background-color: #fa3939;
}
button.deletebtn-tag--bookmark:hover {
  color: #212529;
  background-color: #f2f2f2;
}
button.deletebtn-tag--bookmark:hover i {
  opacity: 1;
  color: #fff100;
}
@media screen and (max-width: 959px) {
  button.deletebtn-tag--bookmark {
    width: 75%;
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 600px) {
  button.deletebtn-tag--bookmark {
    width: 90%;
  }
}

button.spbtn-tag--bookmark {
  display: none;
}
@media screen and (max-width: 959px) {
  button.spbtn-tag--bookmark {
    width: 75%;
    display: block;
    background-color: #ddd;
    margin: 0.5rem auto;
  }
  button.spbtn-tag--bookmark::before {
    background-color: #2196f3;
  }
  button.spbtn-tag--bookmark:hover {
    color: #212529;
    background-color: #f2f2f2;
  }
  button.spbtn-tag--bookmark:hover i {
    opacity: 1;
    color: #fff100;
  }
}
@media screen and (max-width: 600px) {
  button.spbtn-tag--bookmark {
    width: 90%;
  }
}

.btn.btn-secondary, .btn.btn-info {
  font-size: 1.6rem;
}

button.signup-btn-tag--bookmark {
  background-color: #ddd;
}
button.signup-btn-tag--bookmark::before {
  background-color: black;
}
button.signup-btn-tag--bookmark:hover {
  color: #212529;
  background-color: #f2f2f2;
}
button.signup-btn-tag--bookmark:hover i {
  opacity: 1;
  color: #fff100;
}
@media screen and (max-width: 959px) {
  button.signup-btn-tag--bookmark {
    width: 75%;
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 600px) {
  button.signup-btn-tag--bookmark {
    width: 90%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  text-align: left;
  width: 30%;
  color: #fff;
  font-size: 6rem;
  letter-spacing: 5px;
  top: 50%;
  text-shadow: -1px -1px 0px #2196f3, 3px 3px 0px #2196f3, 6px 6px 0px #0d47a1;
  user-select: none;
}
@media screen and (max-width: 374px) {
  .title {
    font-size: 4.5rem;
  }
}

.App {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 960px) {
  .App {
    position: absolute;
    z-index: 15;
    top: 6.2rem;
    right: 2.5rem;
  }
}

.isformOpen {
  margin: auto 0;
  margin-right: 7rem;
}
@media screen and (max-width: 959px) {
  .isformOpen {
    margin-right: 0;
  }
}

.welcome {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: left;
  padding-left: 1.6rem;
}

.hamburger-bars {
  font-size: 2.5rem;
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
}
.hamburger-bars:hover .fa-bars {
  display: none;
}
.hamburger-bars:hover .fa-hamburger {
  padding-top: 0.5rem;
  display: block;
}
.hamburger-bars .fa-hamburger {
  display: none;
}
@media screen and (max-width: 374px) {
  .hamburger-bars {
    font-size: 2rem;
    top: 3rem;
  }
}

.hamburger-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item-body {
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  margin-right: 1rem;
  color: red;
  font-size: 100%;
  cursor: pointer;
}

@media screen and (max-width: 959px) {
  .react-tabs__tab-list {
    display: flex;
    margin-bottom: 10px;
  }

  .react-tabs__tab-panel--selected:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    border-left: 2rem solid black;
  }
}
@media screen and (max-width: 959px) {
  .nav-wrap {
    position: relative;
  }

  .scroll-nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* 慣性スクロール */
  }

  .scroll-nav ul {
    max-width: 1060px;
    /* メニューの最大幅 */
    min-width: 600px;
    /* メニューの最小幅 */
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding-right: 25px;
    /* 右側の固定分余白を空ける */
  }

  .scroll-nav ul li {
    text-align: center;
    line-height: 1.8rem;
  }

  .next-btn {
    display: none;
    /* 右側の固定部分を非表示 */
  }
}
.next-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .next-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    /* 固定部分の幅 */
    height: 40px;
    /* メニューの高さに合わせる */
    line-height: 40px;
    color: #555;
  }
}

.ham-wrap {
  display: none;
}
@media screen and (max-width: 959px) {
  .ham-wrap {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
  }
}

.sp-form {
  display: none;
}
@media screen and (max-width: 959px) {
  .sp-form {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .sp-form {
    width: 90%;
  }
}

/*# sourceMappingURL=main.css.map */
