.ham-wrap {
  display: none;
  @include tab {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
  }
}

.sp-form {
  display: none;
  @include tab {
    display: block;
    width: 75%;
    margin: 0 auto;
  }
  @include sp {
    width: 90%;
  }
}

aside {
  width: 30%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -400px;
  height: 100%;
  transition: all 0.2s;
  background: #ffffff;
  z-index: 10;
  @include tab {
    width: 40%;
  }
  @include sp {
    width: 60%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-footer {
  margin-top: auto;
  height: 300px;
}

input[type="checkbox"] {
  position: absolute;
  left: -80vw;
}

.open,
.close {
    display: block;
}

.open {
    position: absolute;
}

input[type="checkbox"]:checked ~ aside {
    left: 0;
}

input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.8) !important;
}

@include tab {
  .react-tabs__tab-list {
    display: flex;
    margin-bottom: 10px;
  }
  .react-tabs__tab {

  }
  .react-tabs__tab-panel--selected {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.1px;
      height: 0.1px;
      border-left: 2rem solid black;
    }
  }
}

@include tab {
  .nav-wrap {
    position: relative;
  }
  .scroll-nav {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* 慣性スクロール */
  }
  .scroll-nav ul {
    max-width: 1060px; /* メニューの最大幅 */
    min-width: 770px; /* メニューの最小幅 */
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    padding-right: 25px; /* 右側の固定分余白を空ける */
  }

  .scroll-nav ul li {
    // float: left;
    text-align: center;
    line-height: 1.8rem;
  }

  .next-btn { /* 右側に固定する部分 */
    position: absolute;
    top: 0;
    right: 0;
    width: 25px; /* 固定部分の幅 */
    height: 40px; /* メニューの高さに合わせる */
    line-height: 40px;
    color: #555;
  }

  .scroll-nav ul li {
    // width: 14.2%; /* メニューの個別の幅 */
  }

  .next-btn {
    display: none; /* 右側の固定部分を非表示 */
  }
}
